* {
    box-sizing: border-box;
}

body {
    padding: 5%;
    display: flex;
    background-color: rgb(207, 208, 209);
    
}

#canvas {
    background-image: linear-gradient(to bottom right, green, rgb(192, 219, 186));
}

#apple,
#banana {
    display: none;
}

#start {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom right, green, rgb(192, 219, 186));
    position: fixed;
    top: 0;
    left: 0;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start img {
    width: 200px;
    height: 200px;
}

#start h1 {
    margin-bottom: 65px;
}

#start label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

#start label input,
#start label select {
    cursor: pointer;
}

.btn,
.btn:active {
    font-size: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 20px;
    width: 200px;
    border-radius: 8px;
    background-color: rgb(189, 224, 189);
}

.btn--quit {
    background-color: rgb(220, 223, 226);
}

.btn:hover {    
    box-shadow: 2px 2px 10px rgba(0,0,0,.3);
}

.game-area {
    position: relative;
    flex-basis: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.scores {
    flex-basis: 35%;
    padding: 30px;
}